body{
    font-family: 'Staatliches', cursive;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
}
p{
    color: dimgray;
}
.name-highlight{
    color: tomato;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img {
    width: 65%;

}

.top-banner{
   
    background-repeat: no-repeat;
    background-image: url("../first\ project/images/pexels-lorenzo-242236");
}

section{
    height: 350px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
.dream-area{
    background-image: url("../first\ project/pexels-lorenzo-242236");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 110%;
    background-color: white;
    text-align: center;
}
.experience-area{
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}


.box-container{
    align-items: center;
	justify-content: center;
    display: flex;
	height:320px;
}

.three-row{
    width: 300px;
    height: 350px;
    float: left;
    margin: 0px 19px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 13px #c8d2df;
    font-family: 'roboto';
}

.three-row img {
    width: 70%;
} 




footer p{
    text-align: center;
    font-size: 30px;
}


.icon img{
    width: 3%;
    float: left;
    margin-left: 43%;
    padding-left: 1%;
    
    
}
.icon2 img{
    width: 3%;
    float: left;
    margin-left: ;
    padding-left: 1%;
    
    
}
.icon3 img{
    width: 3%;
    float: left;
    margin-left: ;
    padding-left: 1%;
    
    
}

.center {
    
    margin: auto;
    width: 20%;
    border-radius: 20%;
    padding: 5%;
    background-image: url("../personal-website-main/images/pexels-cottonbro-3951628.jpg");
  }

  
  .about-container{
      
	width:80%;
	height:230px;
	background-image: url("./images/pexels-lorenzo-242236.jpg");
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 20px  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
    align-items: center;
    padding: 10px;
}

.about-text a{
    width:500px;
    align-items: right;
} 
.main-nav{
    height: 50px;
    background-color: white;
    padding: 10px 0px;
}
.main-nav ul{
    float: right;
    
}
.main-nav ul li {
    list-style: none;
    float: left;
}
.main-nav ul li a {
    color: grey;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-decoration: none;
    margin-right: 38px;
    padding: 13px;
}

.contact-me{
	width: 100%;
	height:280px;
	background-size:cover;
	background-repeat:no-repeat;
	background-image: url("./images/pexels-cottonbro-3951628.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.contact-me p{
	color: black;
	font-size: 30px;
	font-family: calibri;
	font-weight:bold;
	border-bottom:2px solid #ffffff;
}
.contact-me button{
	width:200px;
	height:40px;
	background-color: #FFFFFF;
	border:none;
	outline:none;
	font-size:14px;
	font-weight:bold;
}






